<h1>Forgot Password</h1>
<p>
<% if !flash[:notice].nil? %>
		<div class="error_message_container">
				<%= flash[:notice] %>
		</div>
<% elsif !flash[:success].nil? %>
		<div class="success_message_container">
				<%= flash[:success] %>
		</div>
<% else %>
		Please enter the email address you used to register.
<% end %>
</p>

<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
		<%= f.label :email %>:<br />
		<%= f.text_field :email %><br />
		<br />
		<%= f.submit "Send Password Reset Link" %>
<% end %>