<!DOCTYPE html>
<html>
<head>
  <title>PrivateAds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		
		<%= render :partial => "shared/signup_link" %>
		
		<div class="flashContainer">
				<% flash.each do |key, message| %>
						<%= message %>
				<% end %>
		</div>
		
		<%= yield %>

</body>
</html>
